# Директории сборки и бинарные файлы
/bin/
/out/
/dist/
/*.exe
/*.dll
/*.so
/*.dylib
/*.test

# Кеш Go-модулей
/pkg/
go.sum

# Временные и рабочие файлы
*.tmp
*.temp
*.log
*.lock

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp

# Секреты и конфигурации
.env
*.key
*.pem